/*Slideshow*/
.slidshow-container{
	overflow: hidden;
  position: relative;
  margin:auto;
  /*box-sizing: border-box;*/
}
.mySlides{
  background-image: linear-gradient(to right, hsla(201, 28%, 52%, 0), hsla(201, 28%, 52%, 1), hsla(201, 28%, 52%, 0));
  height: 600px;  
}
.mySlides img{
  height: 600px;
  overflow: hidden;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mySlides .text {
  color: #fff;
  background-color: #000;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 383.25px; /*needs to specify when the top gets folded, i.e. to small screen*/
  width: 30%;
  left: 35%;
  opacity: 0.7;
  text-align: center;
  z-index: 10;
}
.text:hover{
  background-color: #FFF;
  color: #000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container{
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
  padding: 10px 15%;
  margin: 50px 0;
  overflow: hidden;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  align-content: space-around;
  margin: 20px 0;
  overflow: hidden;
}
.proj .flex-items{
  flex-grow: 1;
  padding: 5px;
  font-size: 12px;

}
.proj .flex-items img{
  max-height: 175px;
  overflow: scroll;
}
.workshop a{
  text-decoration: none;
}
/*Background colors for the different parts of the page*/
#onProj{
  background-image: linear-gradient( hsla(326, 100%, 75%, 0.4), hsla(326, 100%, 75%, 0.9), hsla(326, 100%, 75%, 0.4));
}
#prevProj{
  background-image: linear-gradient(hsla(240, 100%, 75%, 0.4), hsla(240, 100%, 75%, 0.9), hsla(240, 100%, 75%, 0.4));
}
#workshops{
  background-image: linear-gradient(hsla(30, 100%, 75%, 0.4), hsla(30, 100%, 75%, 0.9), hsla(30, 100%, 75%, 0.4));
}
#exProj{
  background-image: linear-gradient(hsla(200, 100%, 75%, 0.4), hsla(200, 100%, 75%, 0.9), hsla(200, 100%, 75%, 0.4));
}
/*Colors finished*/

.workplace{
  flex-wrap: wrap;
  align-items: baseline;
}
.workplace .flex-items{
  line-height: 1.4;
  padding: 5px;
  min-width: 150px;
  max-width: 33%;
}
.usefulPages {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5%;
  margin: 50px 0;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.usefulPages .flex-items{
  max-width: 350px;
  border: 1px solid black;
  padding: 10px;
  line-height: 1.4;
  border-radius: 10px;
}
.usefulPages b{
  font-size: 20px;
  letter-spacing: 1px;
}
.usefulPages a{
  margin-bottom: 10px;
  border-radius: 10px; 
}
.usefulPages a:hover{
  box-shadow:5px 5px 5px 5px rgba(0,0,0,0.2);
 }
 #exProj a{
   text-decoration: underline;
 }
 #exProj a:hover{
   background-color: hsla(200, 100%, 35%, 1);
   color: #FFF;
   text-decoration: none;
 }
 
 
 
/*style til guide*/
.guide h2{
  text-align: center;
  font-size: 40px;
}
.guide h3{
  text-align: center;
}
.guide .flex-container{
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  max-width:1200px;
}
.leftGuide{
  background-image: linear-gradient(to right, hsla(220, 100%, 50%, 0), hsla(220, 100%, 50%, 0.4));
  /*opacity: 0.5;*/
}
.leftGuide p{
  margin-left:15%;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  max-width: 450px;
}
.bottomGuide .flex-container{
    background-color: hsla(84, 9%, 24%, 0.90);
    color:pink;	
}
.guide img{
  width: 600px;
  height:auto;
  display: flex;
  align-self: left;
}
.rightGuide{
  background-image: linear-gradient(to left, hsla(220, 100%, 50%, 0), hsla(220, 100%, 50%, 0.4));
}
.rightGuide .flex-items{
  flex-wrap: wrap;
  max-width: 600px;
}
.rightGuide p{
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  max-width: 450px;
  margin-right: 15%;
}
.rightGuide img{
  width:600px;
  display: flex;
  padding-bottom: 5px;
}
#leader img{
  margin-bottom: 70px;
}


/*responsive for very big screens*/
@media only screen and(min-width: 1200px){
  .startup{
    margin-left: 25%;
    
  }
}

/*responsive for medium screens. Make the picture hide*/
@media only screen and(min-width: 481px) and (max-width: 991px){
  .startup{
    margin-left: 5px;
  }
}

/*responsive for small screens*/
@media only screen and (max-width: 480px){
  
} 
