h1{
	background-color: #000033;
	color: #00CCFF;
	margin-top:-10px;
	margin-left:0px;
	font-size:75px;
	width:100%;
	height:125px;
	text-align:center;
	padding-top:25px;
}

#head{
	text-decoration: none;
	color: #55FF20;
}

/*Code for the slideshow. Code from https://www.w3schools.com/howto/howto_js_slideshow.asp*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 20%;
  text-align: left;
  background-color:rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Slideshow code finished*/

/*Code from w3schools on how to divide a page with css*/

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*done*/

/*This will cause the column receive float none rule when screen is smaller than max-width*/
@media only screen and (max-width: 1300px) {
    .column {
        float: none;
		/*margin-left:-10%;*/
    }
}

.intervjupage{
	background-color: #F1ECFF;
	margin-top:-50px;
	padding-top:10px;
	padding-bottom:50px;
}

.narrowpage{
	margin-left:10%;
	width:80%;
}

.infobox{
	box-shadow: 2px 2px 2px 2px #F5EFE0;
	color: #000000;
}


.infoRef{
	text-decoration:none;
}

.news{
	text-decoration:none;
	color: #000000;
}
