/*Set margin and padding to default zero in order to fill the whole page. Set font type*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}
/*Makes scrolling to top of page smooth.*/
html {
    scroll-behavior:smooth; 
}
/*Set max-width to not get a too wide page on big screens*/
body{
    max-width: 1500px;
}
/*default normal text in hyperlinks*/
a{
    text-decoration: none;
    color: black;
}
/*center headers*/
h1{
    text-align: center;
    padding-top: 20px;
}
h2 {
    text-align: center;
}
/*left aligned menu*/
lh img{
    width: 250px;
    padding: 50px 25px 20px 25px;
}
.menu{
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
}
.menu li{
    color: black;
    opacity: 0.8;
    font-size: 23px;
    list-style: none;
    padding: 10px 60px;
    margin: 0;
}
.menu li:hover, .menu li:active{
    background-color: rgba(0,0,0, 0.1);
}



/*-----------Main content-------------*/


.indent{
    margin-left: 300px;
    max-width: 100%;
    line-height: 1.5;
}
.indent img{
    width: 100%;
    height: auto;
    overflow: hidden;
    /*min-width: 200px; Test. might have to remove this*/
}

/*-------Container and childs for responsive design---------*/
.flex-container{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    align-content: center;
    justify-content: center;
}
.two-split{
    max-width: 50%;
    padding: 20px 10px;
    font-size: 20px;
    /*min-width: 200px; will make the main content responsive*/
}

.three-split{
    max-width: 33%;
    padding: 20px 10px;
}

.split-narrow{
    max-width: 40%;
    font-size: 18px;
    padding: 10px;
}

/*------------Formatting-----------*/


.center{
    text-align: center;
    padding: 20px 100px;
    width:100%;
    font-size: 22px;
    margin-bottom: 100px;
}
.center-paragraph {
    text-align: center;
    padding: 20px 100px;
    width:100%;
    font-size: 22px;
    margin-bottom: 40px;
}

.small-font{
    font-size: 18px;
}

/*Spacing and gaps for text and containers*/

.mt{
    margin-top: 100px;
}
.pt{
    padding-top: 200px;
}
.pt-medium{
    padding-top: 100px;
}
.small-padding{
    padding: 8px;
}
/*colors*/

.bg-blue{
    background-color: #e5f9ff;
}
.bg-smaragd{
    background-color: #066;
    color: white;
}
.border-smaragd{
    border: 1.5px solid #066;
    border-radius: 10px;
}
.bg-smaragd-medium{
    background-color: rgba(0, 102, 102, 0.7);
    color: white;
}
.bg-smaragd-soft{
    background-color: rgba(0, 102, 102, 0.3);
}

/*Effect when holding over an element*/
.hover-shadow:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.flex-container h3{ /*Should be moved or replaced*/
    text-align: center;
    margin-bottom: 5px;
}

.white-arrow{
    color: white;
    font-size: 35px;
}
.black-arrow{
    color: black;
    font-size: 35px;
}

/*Footer*/
.footer-paragraph{
    text-align: center;
    padding: 20px;
    width:100%;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer{
    margin-bottom: 0px;
}
.footer a{
    text-decoration: underline;
    color: white;
}

/*Text box for photo, in order to give photo credit*/
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.container {
    position:relative;
}