*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1500px;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    padding-top: 20px;
}
h2 {
    text-align: center;
}
lh img{
    width: 250px;
    padding: 50px 25px 20px 25px;
}
.menu{
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
}

.menu li{
    color: black;
    opacity: 0.8;
    font-size: 23px;
    list-style: none;
    padding: 10px 60px;
    margin: 0;
}
.menu li:hover, .menu li:active{
    background-color: rgba(0,0,0, 0.1);
}

.indent{
    margin-left: 300px;
    max-width: 100%;
    font-family: 'Raleway';
    line-height: 1.5;
}
.indent img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    align-content: center;
    justify-content: center;
}

.two-split{
    max-width: 50%;
    padding: 20px 10px;
    font-size: 20px;
}

.center{
    text-align: center;
    padding: 20px 100px;
    width:100%;
    font-size: 22px;
    margin-bottom: 100px;
}
.center-paragraph {
    text-align: center;
    padding: 20px 100px;
    width:100%;
    font-size: 22px;
    margin-bottom: 40px;
}
.footer-paragraph{
    text-align: center;
    padding: 20px;
    width:100%;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer{
    margin-bottom: 0px;
}
.mt{
    margin-top: 100px;
}
.bg-blue{
    background-color: #e6f2ff;
}

.hover-shadow:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.flex-container h3{
    text-align: center;
    margin-bottom: 5px;
}
.split-narrow{
    max-width: 40%;
    font-size: 18px;
    padding: 10px;
}
.bg-smaragd{
    background-color: #006666;
    color: white;
}
.white-arrow{
    color: white;
    font-size: 35px;
}